/* Utilities: Start */

.flex {
  display: flex;
}

.w-full {
  width: 100%;
}

.m-0 {
  margin: 0;
}

.my-1 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-2 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.w-50p {
  width: 50%;
}

.m-4 {
  margin: 4px;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-white {
  color: white;
}

.text-primary {
  color: var(--text-primary-color);
}

.text-center {
  text-align: center;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.hide-scroll::-webkit-scrollbar {
  height: 0;
}

.scroll-container::-webkit-scrollbar {
  height: 6px;
  padding: 4px 0;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
  transition: 0.3s;
  padding: 4px 0;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 1);
}

.scroll-container::-webkit-scrollbar-track {
  background: black;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
}

.hidden {
  display: none;
}
/* Utilities: End */
